# Виртуальные окружения
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Конфиги среды
.env
*.env

# IDE и редакторы
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db

# Тестовые данные
*.sqlite3
